/*
 * RNA-seq Analysis Pipeline - Nextflow Configuration
 * ΕΚΦΑΝΣΙΣ Bioinformatics
 */

params {
    // Input/Output
    reads = "data/raw/*_{1,2}.fastq.gz"
    outdir = "results"

    // Reference files
    genome = "/path/to/GRCh38.primary_assembly.genome.fa"
    gtf = "/path/to/gencode.v44.annotation.gtf"
    star_index = "/path/to/STAR/genome/index"

    // Sample metadata
    metadata = "data/sample_metadata.csv"

    // Analysis parameters
    min_reads = 10
    min_samples = 2
    alpha = 0.05
    lfc_threshold = 1.0

    // Resource limits
    max_cpus = 16
    max_memory = '64.GB'
    max_time = '24.h'
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
        process.clusterOptions = '--account=your_account'
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    aws {
        process.executor = 'awsbatch'
        process.queue = 'nextflow-queue'
        aws.region = 'us-east-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

// Process resource requirements
process {
    withName: FASTQC {
        cpus = 2
        memory = '4.GB'
        time = '1.h'
    }

    withName: STAR_ALIGN {
        cpus = 8
        memory = '32.GB'
        time = '4.h'
    }

    withName: FEATURECOUNTS {
        cpus = 4
        memory = '8.GB'
        time = '2.h'
    }

    withName: DESEQ2 {
        cpus = 1
        memory = '16.GB'
        time = '1.h'
    }
}

// Execution reports
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.svg"
}

// Manifest
manifest {
    name = 'ekfansis/rnaseq-pipeline'
    author = 'ΕΚΦΑΝΣΙΣ'
    description = 'RNA-seq differential expression analysis pipeline'
    mainScript = 'main.nf'
    version = '1.0.0'
    nextflowVersion = '>=23.04.0'
}
