@import "tailwindcss";

:root {
  --background: #f6f8fc;
  --foreground: #0f172a;
  --accent: #2563eb;
  --accent-dark: #1d4ed8;
  --accent-green: #0ea5e9;
  --accent-green-dark: #0369a1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
